:root {
    --brand-color: #2196F3;
    --text-color: #212121;
    --accent-color: #FFFFFF;
  }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    background-color: var(--accent-color);
    color: var(--text-color);
    margin: 0;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    display: block;
}
.logo-nav {
    color: var(--text-color);
}
.logo-footer {
    color: var(--accent-color);
}

.list {
    list-style: none;
    list-style-type: none;
}

a[href] {
    text-decoration: none;
}

.container {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      /* outline: 2px solid tomato; */
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.link-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
    padding: 32px 0;
    display: block;
}

.link-nav:hover,
.link-nav:focus {
    color: var(--brand-color);
}

.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.list-contact {
    display: flex;
    margin-left: auto;
    align-self: center;
}

.list-contact .item:not(:last-child) {
    margin-right: 50px;
}

ul li.current a {
    color: var(--brand-color);
}

.contact-us-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding: 32px 0;
}
.contact-us-header:hover,
.contact-us-header:focus {
    color: var(--brand-color);
}
.hero {
    background: #2F303A;
    text-align: center;
    padding: 200px 0;
}

.hero-title {
    color: var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;
    background: var(--brand-color);
    color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
}

.feature {
    padding-top: 94px;
}

.feature-title-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 10px;
}

.feature-text {
    line-height: 1.7;
    color: #757575;
}

.feature-list {
    display: flex;
}

.feature-list .item:not(:last-child) {
    margin-right: 30px;
}
.feature-list .item {
    width: 270px;
}

.works {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-works {
    display: flex;
}

.list-works .item:not(:last-child) {
    margin-right: 30px;
}

.list-works .item {
    width: 370px;
}

.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title, .works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
}

.list-team {
    display: flex;
}

.list-team .item:not(:last-child) {
    margin-right: 30px;
}

.list-team .item {
    width: 270px;
}

.card-team {
    background-color: var(--accent-color);
    text-align: center;  
    padding: 30px 0;
}

.portfolio {
    padding: 94px 0;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list > .portfolio-item:not(:last-child) {
    margin-right: 8px;
}

.btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: #F5F4FA;
    color: var(--text-color);
    cursor: pointer;
    border: transparent;
    display: inline-block;
    min-width: 73px;
    border-radius: 4px;
    padding: 6px 22px;
}

.btn-portfolio:hover,
.btn-portfolio:focus{
    background: var(--brand-color);
    color: var(--accent-color);
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.gallery-item {
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
}

.gallery-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.gallery-list-text {
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
    margin-top: 4px;
}

.card-thumb {
    width: 370px;
}

.card-content {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

.footer-bg {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-bg a {
    margin-bottom: 20px;
}

.address-footer {
    color: var(--accent-color);
}

.contacts-footer1, .contacts-footer2 {
    color: rgba(255, 255, 255, 0.6);
}

.list-footer {
    margin-top: 9px;
}    

.item-footer {
    margin-top: 9px;
}

address {
    font-style: normal;
}